.circleci
.git
.github
.nyc_output
.vscode
build
coverage
node_modules
src/**.js
.gitignore
.gitmodules
.npmignore
.prettierignore
wasm/docker
LICENSE
package.json
README.md
tsconfig.json
tsconfig.module.json
tslint.json
yarn.lock
*.log