.circleci
.git
.github
.nyc_output
.vscode
build
config
coverage
node_modules
src/**.js
.cspell.json
.eslintrc.json
.gitignore
.gitmodules
.npmignore
.prettierignore
wasm/docker
CHANGELOG.md
LICENSE
package.json
README.md
tsconfig.json
yarn.lock
*.log