node_modules
build
test
src/**.js
temp
docs/markdown
coverage
.nyc_output
*.log
report.*.json
scratch

src/lib/bin/**/*.html
src/lib/bin/**/*.js
src/lib/bin/**/*.d.ts
src/lib/bin/**/*.wast
src/lib/bin/**/*.wat
src/lib/bin/**/*.map

package-lock.json