**/*.spec.*
*.log
.gitmodules
.circleci/
.github/
.nyc_output/
.vscode/
build/docs
config/
coverage/
docs/
src/
test/
wasm/
.ava.bench.config.js
.cspell.json
.dockerignore
.prettierignore
tsconfig.json
.eslintrc.json
yarn.lock