name: Libauth Benchmarks
on:
  push:
    branches:
      - v2

permissions:
  contents: write
  deployments: write

jobs:
  benchmark:
    name: Run Benchmarks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
            submodules: 'true'
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Run benchmark
        run: yarn && yarn bench
      
      # TODO: Libauth-only benchmarks: test for performance regressions in Libauth functionality, format results to work with the below configuration 

      # - name: Push benchmark result to gh-pages
      #   uses: benchmark-action/github-action-benchmark@3d3bca03e83647895ef4f911fa57de3c7a391aaf
      #   with:
      #     name: Benchmark.js Benchmark
      #     tool: 'benchmarkjs'
      #     output-file-path: bench.log
      #     github-token: ${{ secrets.GITHUB_TOKEN }}
      #     auto-push: true
      #     # Show alert with commit comment on detecting possible performance regression
      #     alert-threshold: '200%'
      #     comment-on-alert: true
      #     fail-on-alert: true
      #     alert-comment-cc-users: '@bitjson'
