name: Lint, Build, and Test Libauth
on: [push, pull_request]

jobs:
  
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ 16 ]
    name: Test Node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'true'
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - run: yarn install --immutable --immutable-cache
      - run: yarn test

  build-and-test-with-coverage:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ 18 ]
    name: Test Node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'true'
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - run: yarn install --immutable --immutable-cache
      - run: yarn test
      - name: Upload test coverage
        uses: codecov/codecov-action@v3

  check-yarn-cache:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
        with:
          submodules: 'true'
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - run: yarn install --immutable --immutable-cache --check-cache
